/*
*   Name: Timbertoptree Theme.
*   Description: Custom theme for my timbertoptree.
*   Author: Gervic.
*   Version: 1.0
*/

@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

html, body { height: 100%; margin: 0; padding: 0; }
    #map { height: 100%; }

.clear {
	clear: both;
}

.mainContainer {
	width: 93%;
	margin: 0px auto;
	background-image: url(img/accentwood.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    box-shadow: 5px 5px 8px #c3c0c0;
}

.mainHeader {
	padding: 20px;
	text-align: center;
}

.mainHeader img {
	width: 40%;
}

.expertz {
	text-align: center;
	font-family: 'Shojumaru', cursive;
	border-top: 3px solid #00643f;
	width: 45%;
	margin: 0px auto;
	color: #ea2831;
	font-size: 120%;
}

.headerNum {
	text-align: center;
	font-family: 'Shojumaru', cursive;
	width: 100%;
	margin: 0px auto;
	color: #ea2831;
	font-size: 160%;
}

.navMenu {
	text-align: center;
	color: #075f06;
	font-family: 'Shojumaru', cursive;
}

.navMenu a {
	color: #075f06;
	font-family: 'Shojumaru', cursive;
	font-size: 240%;
	transition: color 1s;
}

.navMenu a:hover {
	color: #ea2831;
}

.slideshow {
	height: 470px;
	margin: 0 auto;
	margin-bottom: 0px;
	width: 51%;
	margin-top: 30px;
	border: 5px solid #ab8203;
	outline: 10px solid #795c03;
}

.slideshow ul li {
	list-style: none;
	display: none;
}

.slideshowCaption {
	background-color: #af8d03;
	border: 1px solid #9b7d03;
	opacity: 0.8;
	position: absolute;
	padding: 10px;
	margin: -53px 0px;
	color: #fff;
	font-family: 'Shojumaru', cursive;
	font-size: 20px;
	text-align: center;
}

.slideLeft {
	background-color: #af8d03;
	border: 1px solid #9b7d03;
	font-size: 20px;
	padding: 10px 15px;
	color: #fff;
	font-family: Cal;
	opacity: 0.8;
	border-radius: 0px 50px 50px 0px;
	cursor: pointer;
	position: absolute;
	margin: -290px 0px;
}

.slideRight {
	background-color: #af8d03;
	border: 1px solid #9b7d03;
	font-size: 20px;
	padding: 10px 15px;
	color: #fff;
	font-family: Cal;
	opacity: 0.8;
	border-radius: 50px 0px 0px 50px;
	cursor: pointer;
	position: absolute;
	margin: -290px 0%;
}


.tree_header {
	text-align: center;
}

.tree_header  img {
	width: 30%;
}

.wrapperContainer {
	border: 3px solid #076006;
	background-color: #fff;
	opacity: 0.5;
	width: 80%;
	margin: 0px auto;
	margin-top: 80px;
	border-radius: 10px;
	padding: 10px;
	height: 450px;
}

.wrapperContents {
	text-align: center;
	width: 93%;
	position: absolute;
	margin: -450px 0px;
}

.uls {
	overflow: hidden;
}

.uls ul li {
	display: block;
	font-family: 'Oswald', sans-serif;
	color: #076006;
	font-size: 250%;
	transition: color 1s, font-weight 1s;
}

.uls ul li:hover {
	color: #ea2831;
	font-weight: bold;
}

.no-uls {
	margin-top: 20px;
}

.mainSection div p {
	/*font-family: 'Shojumaru', cursive;*/
	font-family: 'Hammersmith One', sans-serif;
	color: #076006;
	font-size: 280%;
	margin-bottom: 10px;
}

.contactsParent {
	width: 80%;
	height: 290px;
	margin: 0px auto;
	margin-top: 60px;
}

.conInfo {
	background-color: #006540;
	border-left: 1px solid #00472d;
	border-right: 1px solid #00472d;
	border-top: 1px solid #00472d;
	color: #fff;
	padding: 1.5% 2%;
	font-family: 'Shojumaru', cursive;
	cursor: pointer;
	color: #ea2831;
}

.conMap {
	background-color: #006540;
	border-left: 1px solid #00472d;
	border-right: 1px solid #00472d;
	border-top: 1px solid #00472d;
	color: #fff;
	padding: 1.5% 2%;
	font-family: 'Shojumaru', cursive;
	cursor: pointer;
}

.contactsWrapper {
	border: 3px solid #076006;
	background-color: #fff;
	opacity: 0.5;
	margin: 0px auto;
	margin-top: 1.2%;
	height: 290px;
}

.contactsContents2 {
	text-align: center;
	position: absolute;
	width: 74%;
	height: 290px;
	margin: -293px 0px;
}

.contactInfo p {
	margin: 15px 0px;
}

.contactMap {
	display: none;
}

.contactMap iframe {
	width: 99.5%;
}

.mainFooter {
	text-align: center;
	background-color: #3b3d3c;
	padding: 15px;
	margin-top: 50px;
	color: #fff;
	font-family: Cal;
}

.footerMiddle {
	margin-top: 10px;
}

.footerMiddle a {
	color: #fff;
	font-family: Cal;
	text-decoration: none;
}

.footerMiddle a:hover {
	color: #ea2831;
	text-decoration: underline;
}

.footerBottom {
	margin-top: 20px;
}

.footerBottom2 {
	margin-top: 10px;
}





/*Screen width Below 733*/
@media screen and (max-width: 740px) {
	.expertz {
		font-size: 100%;
	}
}

/*Screen width Below 650*/
@media screen and (max-width: 650px) {
	.mainHeader img {
		width: 99%;
	}

	.expertz {
		font-size: 120%;
		width: 100%;
	}

	.headerNum {
		width: 100%;
		font-size: 140%;

	}

	.navMenu a {
		font-size: 150%;
	}

	.slideshow {
		display: none;
	}

	.wrapperContainer {
		margin-top: 20px;
	}

	.tree_header img {
		width: 65%;
	}

	.uls ul li {
		font-size: 180%;
		margin-bottom: 4%;
	}

	.contactsParent {
		margin-top: 30px;
	}

	.conInfo, .conMap {
		font-size: 73%;
	}

	.contactsWrapper {
		margin-top: 2px;
	}

	.mainSection div p {
		font-size: 208%;
	}

	.contactMap iframe {
		width: 100%;
	}

	.footerMiddle {
		margin-top: 0px;
	}
	
	.footerBottom {
		margin-top: 5px;
	}
}
